{% extends 'base.html' %}
{% block content %}

{% if error %}
{{error}}
<br/>
<br/>
{% endif %}
<h1>Sign Up</h1>
<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}  <!-- it is used to protect our website from different forms of attacks-->
  UserName:
  <br/>
  <input type="text" name="username" required/>
  <br/>
  Password:
  <br/>
  <input type="password" name="password" required/>
  <br/>
  Confirm Password:
  <br/>
  <input type="password" name="cpassword" required/>
  <br/>
  <br/>
  <input class="btn btn-primary" type="submit" value="SignUp"/>
</form>
{% endblock %}
